@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #131318; */
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  /* max-width: 1500px;
  margin: 0 auto; */
  border-left: 2px solid whitemsoke;
  border-right: 2px solid whitemsoke;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding: 2rem;
}

.SectionHeading {
  padding: 0.5rem;
  width: 30vw;
  text-align: left;
  background-color: #006097;
  font-weight: 300;
  color: whitesmoke;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 1rem 0;
}

.navbar-items {
  display: flex;
}

.navbar-item {
  margin-left: 10px;
  padding: 10px;
  /* background-color: rgb(75, 75, 75); */
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .navbar-item:hover,
.navbar-item:active {
  background-color: rgb(0, 109, 172);
} */

/* .active {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #131318;
  background-color: rgb(0, 109, 172);
} */

header {
  width: 100%;
  /* background-color: #006097; */
  padding: 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
  color: whitesmoke;
  align-items: center;
}

header h1 {
  font-family: "Palanquin", sans-serif;
  padding-left: 20px;
  color: #006097;
}

#profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.ExperienceList,
.SkillList {
  display: flex;
  width: 100%;
}

.ExperienceList {
  gap: 2rem;
}

h3,
strong {
  color: rgb(0, 109, 172);
}

.ExperienceListItem,
.about-body {
  padding: 2rem;
  /* background-color: whitesmoke; */
  /* background-color: rgb(75, 75, 75); */
  border-radius: 10px;
}

.about-body {
  width: 100%;
  margin: 2rem 0;
}

.ExperienceListItem {
  width: 25%;
  margin: 2rem 0;
}

/* .ExperienceListItem:nth-child(2), .ExperienceListItem:nth-child(3) {
  margin: 2rem;
} */

.education-container {
  display: flex;
  flex-wrap: wrap;
}

.education-item {
  /* width: 30%; */
  flex-grow: 1;

  padding: 1.5rem;
  border: 3px solid rgb(75, 75, 75);
  border-radius: 5px;
  margin: 2rem 0;
  margin-right: 1rem;
}

.education-item:last-of-type {
  margin-right: 0;
}

.education-item h3 {
  color: rgb(0, 109, 172);
}

.education-item h4,
.education-item p {
  color: rgb(75, 75, 75);
}

.SkillList {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 2rem;
  /* background-color: whitesmoke; */
  border-radius: 10px;
}

.certifications-container {
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.SoftwareDevelopment {
  margin: 2rem 0 2rem 0;
  overflow: hidden;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.project {
  width: 800px;
  height: 400px;
  /* background-color: whitesmoke; */
  display: flex;
  border-radius: 10px;
  margin: 1rem;
  /* background-color: rgb(75, 75, 75); */
}

.project:last-of-type {
  margin-bottom: 2rem;
}

.project-image {
  width: 60%;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.project-body {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.certificate {
  background-color: #27ae60;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  /* width: 310px; */
  flex: 1;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.certificate a {
  color: inherit;
}

/* .certificate-black {
  background-color: #272727;
  color: white;
}

.certificate-black a {
  color:inherit;
} */

.certificate .fa-trophy {
  font-size: 2rem;
}

.certificate-title {
  font-weight: bolder;
}

.certificate-link {
  color: #006097 !important;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem 0; */
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
}

.location-container {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 100%;
  padding: 2rem 0;
}

.location-container .google-map iframe {
  width: 700px;
  height: 400px;
  border-radius: 20px;
}

.location-container .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.current-address,
.permanent-address {
  /* width: 30%; */

  padding: 1.5rem;
  border: 3px solid #006097;
  border-radius: 5px;
  margin: 0 0 1rem 0;
}

.current-address h3,
.permanent-address h3 {
  color: rgb(75, 75, 75);
}

.current-address p,
.permanent-address p {
  color: #006097;
}

footer {
  width: 100%;
  /* height: 150px; */
  /* background-color: #006097; */
  /* padding: 2rem; */
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  cursor: pointer;
  padding-right: 2rem;
}

footer i:hover {
  color: #006097;
}

footer i {
  font-size: 36px;
  /* color: whitesmoke; */
}

.ProjectsPage {
  /* color: white; */
  max-width: 1400px;
  margin: 0 auto;
}

.ProjectsPage .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ProjectsPage .cards-container .card {
  width: 30%;
  min-width: 350px;
  /* flex: 1; */
  margin: 1rem;
  border-radius: 10px;
  background-color: whitesmoke;
}

.ProjectsPage .cards-container .card .card-link {
  cursor: pointer;
  text-decoration: none;
}

.ProjectsPage .cards-container .card .card-link .card-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.ProjectsPage .cards-container .card .card-link .card-meta-info {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0 10px 10px;
}

.ProjectsPage .cards-container .card .card-link .card-meta-info .card-title {
  font-weight: bolder;
  font-size: 1rem;
  color: rgb(0, 109, 172);
}

.ProjectsPage
  .cards-container
  .card
  .card-link
  .card-meta-info
  .card-description {
  color: black;
  font-size: 1rem;
}

.ProjectsPage .filter-by-dropdown {
  margin: 0 0 2.5rem 0;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  /* background-color: rgb(75, 75, 75); */
}

.ProjectsPage
  .cards-container
  .card
  .card-link
  .card-meta-info
  .card-tech-used {
  color: rgb(75, 75, 75);
  font-size: 1rem;
}

@media screen and (max-width: 1330px) {
  .SkillList {
    margin: 2rem 0;
    justify-content: space-evenly;
  }

  .skill {
    margin: 1rem;
  }
}

@media screen and (max-width: 1210px) {
  .location-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .address {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .ExperienceList,
  .education-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .education-item {
    width: 75%;
    margin: 1rem 0 0 0;
  }

  .ExperienceListItem {
    width: 75%;
    margin: 0;
  }

  .education-item:nth-child(1),
  .ExperienceListItem:nth-child(1) {
    margin: 2rem 0 0 0;
  }

  .education-item:nth-child(2) {
    margin: 1rem 0 0 0;
  }

  /* .certificate {
    width: 450px;
  } */
}

@media screen and (max-width: 875px) {
  .projects-container {
    flex-direction: row;
  }

  .project {
    flex-direction: column;
    width: 400px;
    height: auto;
  }

  .project-image {
    width: 100%;
  }

  .project-image img {
    border-radius: 10px 10px 0 0;
  }

  .project-body {
    width: 100%;
  }

  /* .project-description, .project-tech-used {
    font-size: 1rem;
  } */
}

@media screen and (max-width: 735px) {
  .location-container .google-map iframe {
    width: 400px !important;
  }

  .chart-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 690px) {
  .SkillList {
    justify-content: space-evenly;
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  header .title {
    text-align: center;
  }
}

@media screen and (max-width: 630px) {
  .navbar {
    margin-right: 1rem;
  }

  .navbar-item div {
    display: none;
  }

  .navbar-item {
    padding: 5px;
  }

  .navbar-item i {
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 1rem;
    padding-top: 2rem;
  }

  .ExperienceListItem,
  .education-item {
    width: 100%;
    padding: 1rem;
  }

  .about-body {
    padding: 1rem;
  }

  .SectionHeading {
    width: 100%;
    text-align: center;
  }

  /* .chart-container {
    flex-direction: column;
  } */
}

@media screen and (max-width: 435px) {
  .wrapper {
    padding: 1rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .SkillList {
    margin-top: 2rem;
    align-items: center;
  }

  .skill {
    margin: 1rem 0;
  }

  #profile-pic {
    width: 75px;
    height: 75px;
  }

  .project {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
  }

  .project-description,
  .project-tech-used {
    /* font-size: 1rem; */
    /* line-height: 1.2; */
  }

  .location-container .google-map iframe {
    width: 300px !important;
    height: 300px;
  }

  footer a {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .SoftwareDevelopment {
    display: none;
  }
}
